body {
	background: rgba(240, 190, 255, 0.8) !important;
	background-image: url('bg.jpeg') !important;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: rgb(243, 178, 245);
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through !important;
	background: rgba(0, 0, 0, 0.3);
}
footer {
	margin-top: 20px;
	color: white;
}

.list-group-item { 
	color: black !important;
}